# Rust
rust/target/
**/*.rs.bk

# Flutter
flutter/**/build/
flutter/**/.dart_tool/
flutter/**/.packages
flutter/**/.flutter-plugins
flutter/**/.flutter-plugins-dependencies
flutter/packages/**/pubspec.lock
flutter/apps/**/pubspec.lock
*.iml

# Generated
flutter/**/generated/
rust/target/app_core.h

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
*.local.*
